@model IEnumerable<Pharmacy.Web.Core.Models.Pharmacies.PharmacyViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pharmacies</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {}, new {@class = "btn btn-success"})
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(pharmacy => pharmacy.Address)
        .Titled("Address");

    columns.Add(pharmacy => pharmacy.Number)
        .Titled("Number");

    columns.Add(pharmacy => pharmacy.Phone)
        .Titled("Phone");

    columns.Add(pharmacy => pharmacy.OpenDate)
        .Titled("Open date");

    columns.Add(pharmacy => pharmacy.Id)
        .Titled("")
        .SetWidth(225)
        .Sanitized(false)
        .Encoded(false)
        .@RenderValueAs(pharmacy =>
            @<b>
                @Html.ActionLink("Edit", "Edit", new { id = pharmacy.Id },
                    new { @class = " btn btn-default" })

                @Html.ActionLink("Details", "Details", new { id = pharmacy.Id },
                    new { @class = " btn btn-default" })

                @Ajax.ActionLink("Delete", "Delete", new { id = pharmacy.Id },
                    new AjaxOptions() { HttpMethod = "GET" },
                    new { @class = "btn btn-danger" })
            </b>);

}).WithPaging(5)

@section scripts{
    <script>
        $("#pharmacy").addClass("active");
    </script>
}