<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/gridmvc")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<section id="container">
    <header class="header white-bg">
        <a href="@Url.Action("Index","Home")" class="logo"><span>P</span>h<span>arma</span>c<span>y</span></a>

        <div class="nav notify-row">
            
        </div>
    </header>

        <aside>
            <div id="sidebar" class="nav-collapse">
                <ul class="sidebar-menu">
                    <li id="home">
                        <a class="" href="@Url.Action("Index", "Home")">
                            <span>Home</span>
                        </a>
                    </li>
                    <li id="pharmacy">
                        <a class="" href="@Url.Action("Index", "Pharmacy")">
                            <span>Pharmacies</span>
                        </a>
                    </li>
                    <li id="medicament">
                        <a class="" href="@Url.Action("Index", "Medicament")">
                            <span>Medicaments</span>
                        </a>
                    </li>
                    <li id="storage">
                        <a class="" href="@Url.Action("Index", "Storage")">
                            <span>Storages</span>
                        </a>
                    </li>
                    <li id="order">
                        <a class="" href="@Url.Action("Index", "Order")">
                            <span>Orders</span>
                        </a>
                    </li>
                    <li id="orderDetails">
                        <a class="" href="@Url.Action("Index", "OrderDetails")">
                            <span>OrderDetails</span>
                        </a>
                    </li>
                    <li id="medicamentPriceHistory">
                        <a class="" href="@Url.Action("Index", "MedicamentPriceHistory")">
                            <span>MedicamentPriceHistory</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
</section>

<section id="main-content">
    <section class="wrapper">
        <div class="container">
            @RenderBody()
            <hr/>
        </div>
    </section>
    
    <footer class="footer navbar-right" style="float: right; ">
        <p class="text-danger">&copy; @DateTime.Now.Year - Pharmace ASP.Net MVC</p>
    </footer>

</section>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/gridmvc")
@RenderSection("scripts", required: false)

</body>
</html>
