@using Pharmacy.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/gridmvc")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<section id="container">
    <header class="header white-bg">
        <a href="@Url.Action("Index","Home")" class="logo"><span>P</span>h<span>arma</span>c<span>y</span></a>

        <div class="nav notify-row">
            @Html.Partial("_LoginPartial")
        </div>
    </header>

        <aside>
            <div id="sidebar" class="nav-collapse">
                <ul class="sidebar-menu">
                    @Html.MenuLink("Home", "Index", "Home")
                    @Html.MenuLink("Pharmacies", "Index", "Pharmacy")
                    @Html.MenuLink("Meds", "Index", "Medicament")
                    @Html.MenuLink("Storages", "Index", "Storage")
                    @Html.MenuLink("Orders", "Index", "Order")
                    @Html.MenuLink("OrderDetails", "Index", "OrderDetails")
                    @Html.MenuLink("MedicamentPriceHistory", "Index", "MedicamentPriceHistory")
                </ul>
            </div>
        </aside>
</section>

<section id="main-content">
    <section class="wrapper">
        <div class="container">
            @RenderBody()
            <hr/>
        </div>
    </section>
</section>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/gridmvc")
@RenderSection("scripts", required: false)

</body>
</html>
