@model IEnumerable<Pharmacy.Web.Core.Models.OrderDetailses.OrderDetailsViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {}, new {@class = "btn btn-success"})
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(orderDetails => orderDetails.OrderId)
        .Titled("Order id");

    columns.Add(orderDetails => orderDetails.MedicamentName)
        .Titled("Medicament name");

    columns.Add(orderDetails => orderDetails.Price)
        .Titled("Price");
    
    columns.Add(orderDetails => orderDetails.Quantity)
        .Titled("Quantity");

    columns.Add()
        .Titled("")
        .SetWidth(225)
        .Sanitized(false)
        .Encoded(false)
        .@RenderValueAs(orderDetails =>
            @<b>
                @Html.ActionLink("Edit", "Edit", new { orderId = orderDetails.OrderId, medicamentId= orderDetails.MedicamentId },
                    new { @class = " btn btn-default" })

                @Html.ActionLink("Details", "Details", new { orderId = orderDetails.OrderId, medicamentId = orderDetails.MedicamentId },
                    new { @class = " btn btn-default" })

                @Ajax.ActionLink("Delete", "Delete", new { orderId = orderDetails.OrderId, medicamentId = orderDetails.MedicamentId },
                    new AjaxOptions() { HttpMethod = "GET" },
                    new { @class = "btn btn-danger" })
            </b>);

}).WithPaging(5)