@model IEnumerable<Pharmacy.Web.Core.Models.Medicaments.MedicamentViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medicaments</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {}, new {@class = "btn btn-success"})
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(medicament => medicament.Name)
        .Titled("Medicament name");

    columns.Add(medicament => medicament.Price)
        .Titled("Price");
    
    columns.Add(medicament => medicament.Description)
        .Titled("Description");

    columns.Add(medicament => medicament.SerialNumber)
        .Titled("Serial number");

    columns.Add(medicament => medicament.Id)
        .Titled("")
        .SetWidth(225)
        .Sanitized(false)
        .Encoded(false)
        .@RenderValueAs(medicament =>
            @<b>
                @Html.ActionLink("Edit", "Edit", new {id = medicament.Id},
                    new {@class = " btn btn-default"})

                @Html.ActionLink("Details", "Details", new {id = medicament.Id},
                    new {@class = " btn btn-default"})

                @Ajax.ActionLink("Delete", "Delete", new {id = medicament.Id},
                    new AjaxOptions() {HttpMethod = "GET"},
                    new {@class = " btn btn-danger"})
            </b>);

}).WithPaging(5)

@section scripts{
    <script>
        $("#medicament").addClass("active");
    </script>
}