@model Pharmacy.Web.Core.Models.Orders.OrderViewModel
@using GridMvc.Html

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order @Model.Id</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PharmacyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PharmacyNumber)
        </dd>
    </dl>

    @Html.Grid(Model.OrderDetailses).Columns(columns =>
{
    columns.Add(m => m.OrderId)
        .Titled("Order id");

    columns.Add(m => m.Medicament.Name)
        .Titled("Medicament name")
        .SetWidth(150);

    columns.Add(m => m.Price)
        .Titled("Price");

    columns.Add(m => m.Quantity)
        .Titled("Quantity");

}).WithPaging(5)
</div>

<div class="container" style="margin: 20px 0 0; float: right;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</div>