@model IEnumerable<Pharmacy.Web.Core.Models.Orders.OrderViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-success" })
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(order => order.PharmacyNumber)
        .Titled("Pharmacy name");

    columns.Add(order => order.Type)
        .Titled("Type");

    columns.Add(order => order.Date)
        .Titled("Phone");

    columns.Add(order => order.Id)
        .Titled("")
        .SetWidth(225)
        .Sanitized(false)
        .Encoded(false)
        .@RenderValueAs(order =>
            @<b>
                @Html.ActionLink("Edit", "Edit", new { id = order.Id },
                    new { @class = " btn btn-default" })

                @Html.ActionLink("Details", "Details", new { id = order.Id },
                    new { @class = " btn btn-default" })

                @Ajax.ActionLink("Delete", "Delete", new { id = order.Id },
                    new AjaxOptions() { HttpMethod = "GET" },
                    new { @class = "btn btn-danger" })
            </b>);

}).WithPaging(5)

@section scripts{
    <script>
        $("#order").addClass("active");
    </script>
}