@model Pharmacy.Web.Core.Models.Storages.StorageViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Storage details</h2>

<div>
    <h4>StorageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PharmacyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PharmacyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicamentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicamentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { pharmacyId = Model.PharmacyId, medicamentId = Model.MedicamentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
