@model IEnumerable<Pharmacy.Web.Core.Models.Storages.StorageViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Storages</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {}, new {@class = "btn btn-success"})
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(m => m.PharmacyNumber)
        .Titled("Pharmacy number");

    columns.Add(m => m.MedicamentName)
        .Titled("Medicament name");

    columns.Add(m => m.Quantity)
        .Titled("Quantity");

    columns.Add()
        .Titled("")
        .SetWidth(225)
        .Sanitized(false)
        .Encoded(false)
        .@RenderValueAs(m =>
            @<b>
                @Html.ActionLink("Edit", "Edit", new { orderId = m.PharmacyId, medicamentId = m.MedicamentId },
                    new { @class = " btn btn-default" })

                @Html.ActionLink("Details", "Details", new { orderId = m.PharmacyId, medicamentId = m.MedicamentId },
                    new { @class = " btn btn-default" })

                @Ajax.ActionLink("Delete", "Delete", new { orderId = m.PharmacyId, medicamentId = m.MedicamentId },
                    new AjaxOptions() { HttpMethod = "GET" },
                    new { @class = "btn btn-danger" })
            </b>);

}).WithPaging(5)

@section scripts{
    <script>
        $("#storage").addClass("active");
    </script>
}